<form method="post" action="save_task">
  Task Name: <input type="text" name="task">
  <input type="submit" value="save" >
</form>
<h1>Tasks</h1>
<ol>
  <% @tasks.each do |task| %>
      <li><%= task["name"] %> <% if(task["finished"].to_i == 1) %>(finished) <% end %><a href="/edit?id=<%= task["id"]%>">edit </a>  <a href="/delete?id=<%= task["id"]%>"> del</a></li>
  <% end %>
</ol>