<html>
<head><title>Todo</title></head>
<link rel="stylesheet" href="/css/style.css">
<body>
 <%= yield %>
 <script src="//cdnjs.cloudflare.com/ajax/libs/mithril/0.2.4/mithril.min.js"></script>
 <script src="/js/main.js"></script>
</body>
</html>